html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
  #wrapper {
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

    h1 {
      font-size: 2.5em;
      margin: 0 0 5px;
      text-align: center;
    }
      h1 a,
      h1 a:hover {
        text-decoration: none;
        color: black;
      }
      h1 a:hover {
        color: black;
      }

    p#desc {
      text-align: justify;
      margin: 0 auto 20px;
      font-size: 1.2em;
      line-height: 1.3em;
    }

    #example {
      background-color: #E2E1E7;
      padding: 10px 20px;
      margin: 20px auto;
      width: 300px;
    }

      #example pre,
      #example pre code {
        margin: 0;
        font-family: Monaco, 'Courier New', Courier, monospace;
      }

    #footer {
      text-align: center;
    }
      #footer a {
        color: #4568B2;
        padding-right: 10px
      }
      #footer a:hover {
        color: #093BAC;
      }
      #footer a:last-child {
        padding: 0;
      }

      #footer #author a {
        color: #999;
      }
